.expert-section {
  /* background-color: rgba(5, 5, 5, 1); */
  background-image: url(../../assets/experts.png);
  height: 120vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* jab visible ho */
.expert-section.show {
  opacity: 1;
}

.exp-subtitle {
font-weight: 400;
font-style: Regular;
font-size: 27px;
leading-trim: NONE;
line-height: 120px;
letter-spacing: -4%;
text-align: center;
vertical-align: middle;

}

.expert-desc {
font-weight: 700;
font-style: Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 23px;
letter-spacing: -4%;
vertical-align: middle;


}

.expert-desc span {
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 23px;
letter-spacing: -4%;
vertical-align: middle;


}