.consulting-section {
    background-color: rgba(5, 5, 5, 1);
    background-image: url(../../assets/consulting.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-section {
    background: #000;
    min-height: 100vh;
    color: #fff;
}

.contact-subtitle {
    font-size: 20px;
    opacity: 0.9;
    display: inline-block;
    padding-left: 80px;
    position: relative;
    margin-bottom: 20px;
    
}

.contact-subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 60px;
    height: 1px;
    background: #777;
}

.contact-title {
font-weight: 700;
font-style: Bold;
font-size: 113px;
leading-trim: NONE;
line-height: 110px;
letter-spacing: -4%;
vertical-align: middle;

}

.text-purple {
    color: #8b5cf6;
}


.contact-desc {
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 18px;
letter-spacing: -4%;
vertical-align: middle;

}


.contact-form {
    max-width: 620px;
}

.contact-input {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
    border-radius: 0 !important;
    color: #fff !important;
    padding: 12px 0;
    font-size: 14px;
}

.contact-input::placeholder {
    color: #888;
}

.contact-input:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #8b5cf6 !important;
}

.contact-btn {
    padding: 10px 30px !important;
    border-radius: 50px !important;
    border: 1px solid rgba(161, 80, 255, 1);
    background: linear-gradient(158.11deg, rgba(161, 80, 255, 0) 9.72%, #A150FF 178.93%);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.35s ease;
    backdrop-filter: blur(7px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.contact-btn svg {
    width: 14px;
   
}

.contact-btn:hover {
 background: linear-gradient(158.11deg, rgba(161, 80, 255, 0) 9.72%, #A150FF 178.93%) !important;
  box-shadow: 0 0 28px rgba(139, 92, 246, 0.7);
  border-color: #ffff;
}

@media (max-width: 768px) {
    .contact-title {
        font-size: 42px;
    }
}