.swiper-slide:nth-child(odd) .team-block-style2,
.isotope-item:nth-child(odd) .team-block-style2 {
  transform: translateY(-40px);
}

.bg_champs {
    background-image: url(../../assets/champs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-block-style2 {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  transform: translateY(0);
background: linear-gradient(158.11deg, rgba(161, 80, 255, 0) 9.72%, #A150FF 178.93%);
   backdrop-filter: blur(8px);
}
.team-block-style2 .image-box {
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .bg_champs {
    background-image: none;
  }
  .team-block-style2 .image-box {
    width: 100%;
  }
}
.team-block-style2 .image-box figure {
  margin: 0;
}
.image-box {
  position: static;
  border-radius: 22px;
  overflow: hidden;
}

.image-box img {
  width: 220px;
  height: 320px;
  object-fit: cover;
  display: block;
  border-radius: 22px;
}

@media (max-width: 1400px) {
  .image-box img {
    width: 180px;
    height: 285px;
  }
 
}

@media (max-width: 991.98px) {
  .image-box {
    position: relative;
  }

  .image-box img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 768px) {
  .team-block-style2 {
    padding: 16px;
    border-radius: 16px;
  }

  .team-block-style2 .info-box {
    margin-top: 12px;
  }

  .team-block-style2 .info-box .team-title {
    font-size: 14px;
  }

  .team-block-style2 .info-box .team-subtitle {
    font-size: 12px;
  }
}


.team-block-style2 .info-box {
  position: relative;
  transition: all 300ms ease;
  z-index: 1;
  margin-top: 20px;
}
.team-block-style2 .info-box .team-title {
  margin: 0;
  transition: all 300ms ease;
  display: inline-block;
  color: #fff !important;
}
.team-block-style2 .info-box .team-title a {
    text-decoration: none;
    color: #fff;
}

.team-block-style2 .info-box .team-subtitle {
  position: relative;
  display: block;
  z-index: 2;
  /* font-family: var(--heading-font-family); */
  transition: all 300ms ease;
  font-size: 15px;
  color: #fff;
}
.team-block-style2 .share-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
 background: linear-gradient(158.11deg, rgba(161, 80, 255, 0) 9.72%, #A150FF 178.93%);
  z-index: 3;
  color: #fff;
  transition: all 300ms ease;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .team-block-style2 .share-icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    left: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1300.98px) {
  .team-block-style2 .share-icon {
    height: 45px;
    width: 45px;
    line-height: 45px;
    
   
  }
}
.team-block-style2 .social-links {
  position: absolute;
  right: 10px;
  top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  z-index: 3;
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease;
}

@media (max-width: 1400.98px) {
  .team-block-style2 .share-icon {
    right: -1px;
    top: 12px;
  }

  .team-block-style2 .social-links {
    right: 0px;
    top: 72px;
  }
}
.team-block-style2 .social-links a {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  transition: all 300ms ease;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 10px;
}
.team-block-style2 .social-links a:hover {
  background: linear-gradient(158.11deg, rgba(161, 80, 255, 0) 9.72%, #A150FF 178.93%);
  color: var(--theme-color1-text-color);
}
.team-block-style2:hover .share-icon {
  background: rgba(255, 255, 255, 0.2);
  color: var(--theme-color2-text-color);
}
.team-block-style2:hover .social-links {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}
.team-block-style2:hover .info-box {
  margin-left: 20px;
}
.team-block-style2:hover .image-box {
  z-index: 1;
}
.team-block-style2:hover .team-title a {
  color: var(--theme-color-black);
}
.team-block-style2:hover .team-subtitle {
  color: var(--theme-color-black);
}
.team-block-style2:hover .team-subtitle:before {
  background: var(--theme-color1);
}
.team-block-style2 .nexella-hover-bx {
  background: #1f043d;
  height: 100%;
  top: 0;
  opacity: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 25%;
}
.team-block-style2 .hover-bx {
  left: 0;
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s;
  border-radius: 20px 0 0 20px;
}
.team-block-style2 .hover-bx2 {
  left: 25%;
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s;
}
.team-block-style2 .hover-bx3 {
  left: 50%;
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s;
}
.team-block-style2 .hover-bx4 {
  left: 75%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border-radius: 0 20px 20px 0;
}
.team-block-style2:hover .nexella-hover-bx {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
