.footer-bg {
    background: #050505;
 
}

.bottom-bar {
    border-top: 1px solid #A150FF;
}
/* Footer.css */
.footer {
  background: #050505; /* normal bg */
}

.footer--transparent {
  display: none;
}

.bottom-bar-content {
    padding: 1rem;
    display: flex;
    /* height: 60px; */
    max-width: 1200px;
    margin: 0 7%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}


.footer-bg form {
    padding-bottom: 15px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer-bg form .far-icon {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

.footer-bg form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: none;
    outline: none;
}

.footer-bg form button {
    background: transparent;
    /* color: #A150FF; */
    border: none;
    outline: none;
    cursor: pointer;
    
}

.footer-bg form .fas-btn {
    font-size: 16px;
    color: #ffff;
}

.social-icons {
    display: flex;
        
    gap: 5px;
}

.icons {
    width: 40px;
    height: 40px;
    background-color: #A150FF;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a {
    color: #000;
}


@media only screen and (max-width: 600px) {
 
    .bottom-bar {
        font-size: 10px;
    }


  .bottom-bar-content {
    padding: 1rem;
    display: flex;
    /* height: 60px; */
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

}

.footer_line {
    rotate: 90deg;
    height: 190px;
}