@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   color: #fff;
   
}

body {
   background-color: #050505;
}

.bg-image {
   background-image: url(../src/assets/Rectangle.png);
   background-size: cover;
   background-position: center;
}

.Up_btn {
   position: fixed;
   bottom: 20px;
   size: 50px;
   right: 50px;
   background-color: #A150FF;
   border-radius: 50px;
   padding: 15px 18px;
   display: inline-flex;
   cursor: pointer;
   z-index: 2;
}




.line_border hr {
   border: 2px solid #A150FF;
}

@media (max-width: 768px) {
   .bg-image {
      background-image: url("../src/assets/serv_bgmobile.png");
   }

   .main-navbar,
   section,
   .hero-content,
   .contact-section,
   .contact-form,
   .contact-desc,
   .services-section,
   .expert-section,
   .consulting-section,
   .choose-section,
   .cases-section,
   .career-section,
   .champs-section {
      text-align: left !important;
   }

   .hero-content,
   .services-section .serv-title,
   .services-section .serv-subtitle,
   .expert-section .hero-content,
   .consulting-section .contact-title,
   .consulting-section .contact-desc,
   .cases-section .title,
   .career-section .title,
   .champs-section .title {
      margin-left: 0 !important;
      margin-right: 0 !important;
   }
}
